
<header>
  <h1>Name That Baby!</h1>
  <h3>Created especially for Kathleen's Baby Shower on March 22, 2015</h3>
</header>
<div class='instructions'>
  <h3>On a sheet of paper, write the name of the person that corresponds to the number on the screen.</h3>
</div>
<div id='wrapper'>
  <% @babyphotos.each do |babyphoto_url| %>
    <div class='question'>
      <div class='img-wrapper'>
        <div class='number'><span><%= @babyphotos.index(babyphoto_url)+1 %></span></div>
        <%= image_tag(babyphoto_url) %>
      </div>
    </div>
  <% end %>
  <br class='clear'/>
</div>





