<div class='wrapper'>
  <%= link_to 'Back', game_path(@game)%>
  <h2>Edit game</h2>
  <%= render 'form', {game: @game} %>
  <%= link_to 'Delete', game_path(@game), class: 'delete-link',method: :delete, data: {confirm: 'Are you sure you wish to delete this game?'} %>
</div>
