<p>
  <strong><%= @game.event_date %></strong>
  <%= @game.honoree_name %>
</p>
<% if @game.require_password = true %>
<em> Answers will be password protected </em>
<% end %>
<%= link_to 'Play', game_play_path %>
