<div class='form-field'>
  <%= f.label :name %>
  <input type="text" value='<%= user.name %>' name="player[name]" id="player_name">
</div>
<div class='form-field'>
  <%= f.label :email %>
  <input type="text" value='<%= user.email %>' name="player[email]" id="player_email">
</div>
