<header>
  <h1>Name That Baby!</h1>
  <h3>Created especially for Kathleen's Baby Shower on March 22, 2015</h3>
</header>
<div class='instructions'>
  <h4>Using the answer sheet, write down which guest belongs to each baby photo.</h4>
</div>

<div id='wrapper'>
  <% @players.each do |player| %>
    <div class='question'>
      <div class='img-wrapper'>
        <div class='flip'>
          <div class='card'>
            <div class='face front'>
              <div class='number'><span><%= @players.index(player)+1 %></span></div>
              <%= image_tag("https://s3.amazonaws.com/"+player[:aws_s3_bucket]+"/"+player[:aws_s3_key]) %>
            </div>
            <div class='face back'>
              <%= player[:name] %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br class='clear'/>
</div>
<div class='form-container'>
  <div class='pw-form'>
    <i class="fa fa-key unlock-answers"></i>
    <i class='fa fa-unlock lock-answers' style = "display: none"></i>
    <input type='password' id='pw' style = "display: none" placeholder="Password"/>
  </div>
  <br class='clear'/>
</div>







