body {
  font-family: 'Raleway', sans-serif;
}


h1  {
  font-size: 2em;
  margin: .67em 0;
}

h2  {
  font-size: 1.5em;
  margin: .75em 0;
}

h3  {
  font-size: 1.17em;
  margin: .83em 0;
}

p {
  font-size: .83em;
}

h4,
blockquote, ul,
fieldset,
ol, dl, dir,
h5  {
  font-size: .83em;
  margin: 1.5em 0;
}

h6  {
  font-size: .75em;
  margin: 1.67em 0;
}

h1, h2, h3, h4,
h5, h6, b,
strong{
  font-weight: bolder;
}

em {
  font-style: italic;
}

.wrapper {
  padding: 2%;
}

/****Links*****/

a {
  text-decoration: none;
  color: #263D42;
  font-size: .83em;
}

a:hover {
  color: #63C7B2;
}

.delete-link {
  display: block;
  width: 41px; /*width of the word 'delete'*/
  margin: .5em auto;
  font-size: .73em;
  text-decoration: underline;
}

.photo-link a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1em;
  text-decoration: underline;
  margin: 4% 0;
}

/****Forms*****/

form {
  font-size: .83em;
}

.form-field {
  width: 100%;
  padding: 2% 0;
}

.form-field:last-of-type {
  padding-bottom: 4%;
}

.form-field em {
  font-size: .75em;
}

label,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='submit'],
input[type='date']
 {
  display: block;
  font-family: 'raleway';
  margin-bottom: .25em;
  font-size: 1em;
  width: 100%;
}

input {
  box-sizing: border-box;
}

.checkbox-label {
  display: inline;
}


/****Buttons*****/

input[type='submit'] {
  font-family: 'raleway';
  border: none;
  border-radius: 2em;
  padding: 0.5em;
  background-color: rgba(204, 219, 220, 0.5);
}

input[type='submit']:hover {
  background-color: rgba(204, 219, 220, 1.0);
}

input[type='submit']:focus {
  outline: 0;
}
