header {
 margin: 0 0 30px 0;
 width: 100%;
 background-image: image-url('img/paisley.png');
}

header h1 {
  padding: 2rem;
  color: rgb(145,51,79);
  font-family: 'Indie Flower', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

header h3 {
  background-color: rgba(145,51,79, 0.5);
  padding: 2rem;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

#wrapper {
  max-width: 1040px;
  background-color: rgb(216,217,192);
  margin: 0 auto;
  padding: 0.35rem;
}

.instructions > h4 {
  text-align: center;
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
}

br.clear {
  clear: both;
}

.question {
  float: left;
  margin: 0.25rem;
}

img {
  max-width: 100%;
}

.number {
  color: rgb(250,250,250);
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 1.5rem;
  padding: 0.15rem;
  height: 1.5rem;
  text-align: center;
  background: rgba(128,128,128,.5);
}

.number span {
  vertical-align: -10%;
}

footer {
  clear: both;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(221,216,215);
  color: rgb(145,51,79);
  font-family: 'Indie Flower', sans-serif;
  font-size: 1rem;
}

.form-container {
  max-width: 1040px;
  height: 3rem;
  margin: 0 auto;
  padding: 0.35rem;
}
.pw-form {
  padding: .2rem 0;
  float: right;
}

i.fa-key, i.fa-unlock {
  cursor: pointer;
  height: 1rem;
  color: rgb(171,92,114);
}

#pw {
  width: 5rem;
  height: 1rem;
}

::-webkit-input-placeholder {
  font-family: 'Indie Flower', sans-serif;
}

:-moz-placeholder {
  font-family: 'Indie Flower', sans-serif;
}

::-moz-placeholder {
  font-family: 'Indie Flower', sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Indie Flower', sans-serif;
}

/***************
FLIP
***************/

.flip {
  -webkit-perspective: 800; /* Chrome, Safari, Opera */
  width: 200px;
  height: 220px;
  overflow: hidden;
  position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
}

.flip .card .front {
  position: absolute;
  z-index: 1;
  background: black;
  color: white;
  cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  text-align: center;
  line-height: 200px;
  font-family: 'Indie Flower', sans-serif;
  font-size: 1.5rem;
  background: rgb(143,201,185);
  color: rgb(255,255,255);
  height: 220px;
  cursor: pointer;
}











