header {
 margin: 0 0 30px 0;
 width: 100%;
 background-image: image-url('img/logo_x_pattern.png');
}

header h1 {
  padding: 2rem;
  color: #8C6673;
  font-family: 'Pinyon Script', serif;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

header h3 {
  background: rgba(140,102,115,.5);
  padding: 2rem;
  color: #FFF;
  text-align: center;
  margin: 0 auto;
  font-family: serif;
}

#wrapper {
  max-width: 90%;
  background-color: rgb(236,231,230);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 5%;
}

.instructions h3 {
  text-align: center;
  margin-top: 0;
}

br.clear {
  clear: both;
}

.question {
  float: left;
  margin: 0.25rem;
}

.img-wrapper {
  width: 200px;
  height: 220px;
  overflow: hidden;
}

img {
  max-width: 100%;
}

.number {
  background: black;
  color: white;
  position: absolute;
  width: 1.5rem;
  padding: 0.15rem;
  height: 1.5rem;
  text-align: center;
  background: rgba(128,128,128,.5);
}

.number span {
  vertical-align: -30%;
}

footer {
  clear: both;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
}
