<!DOCTYPE html>
<html>
<head>
  <title>BabyShower2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>

<footer>
  <p>&copy; 2015 Kathleen Votolato.</p>
</footer>
</html>
